.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Yjs Remote Selection & Cursors styling */
.remote-caret {
  position: relative;
  border-left: 2px solid;
  border-right: 0;
  margin-left: -1px;
  margin-right: -1px;
  box-sizing: border-box;
  display: inline-block;
  height: 1.4em;
  vertical-align: middle;
  z-index: 10;
}

.remote-caret > div {
  position: absolute;
  top: -1.4em;
  left: -2px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px;
  white-space: nowrap;
  user-select: none;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  pointer-events: none;
  z-index: 11;
}

.remote-caret.hide-name > div {
  opacity: 0;
}

.remote-caret:hover > div {
  opacity: 1;
}

/* Make selection highlights semi-transparent and readable */
.y-line-selection {
  opacity: 0.4;
}
